<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\MediaGallerySynchronization\Model\Filesystem\GetFileInfo">
        <plugin name="remoteGetFileInfo" type="Magento\MediaGallerySynchronizationRemoteStorage\Plugin\Filesystem\GetFileInfo" />
    </type>
</config>
